<div class="row">
    <div class="col-6 col-md-4">
        <img src="assets/images/homebanner.png" class="img-fluid" alt="">
    </div>
    <div class="col-6 col-md-8">
        <div class="inicioCont">
            Nunca ha sido más sencillo <b>participar</b> en las próximas elecciones.
            <br><br>
            Ingresa tu número de documento para consultar <b>tu mesa de votación</b>
            <hr>
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-8">

                <small>Ingresa tu documento sin puntos ni comas</small>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="number" placeholder="Documento">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
                  </form>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>