<!-- Menu Principal -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.png" class="img-fluid logo" alt="">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quiénes Somos</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" routerLink="mision" routerLinkActive="active" ariaCurrentWhenActive="page">Misión</a>
            <a class="dropdown-item" routerLink="vision" routerLinkActive="active" ariaCurrentWhenActive="page">Visión</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="resultados.html">Reportes</a>
        </li>
      </ul>

      <div class="d-flex my-2 my-lg-0" *ngIf="isLoggedIn" >
        <a class="title" [routerLink]="['/', 'logout']">Cerrar Sesión</a>
      </div>

      <form class="d-flex my-2 my-lg-0" *ngIf="!isLoggedIn">
        <input class="form-control me-sm-2" type="text" placeholder="Usuario">
        <input class="form-control me-sm-2" type="password" placeholder="Password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Entrar</button>
      </form>

    </div>
  </div>
</nav>
<!-- Fin Menu Principal -->

<main class="container">
    <router-outlet></router-outlet>
</main>
<hr>
<footer>
  Misión TIC - Unal     2022
</footer>