<div class="row">
    <div class="col-6 col-md-4">
        <img src="/assets/images/mision.png" class="img-fluid" alt="">
    </div>
    <div class="col-6 col-md-8">
        <div class="notopmargin">

            <div class="title-block">
                <h2>Misión</h2>
                <p><span></span></p>
            </div>
            <p>La misión de la RNEC se encuentra establecida en el artículo 4 del Decreto 1010 de 2000, en los
                siguientes términos:</p>
            <blockquote>
                <strong>Artículo 4.º. Misión de la Registraduría Nacional del Estado Civil.</strong> Es misión de la
                Registraduría Nacional del Estado Civil garantizar la organización y transparencia del proceso
                electoral, la oportunidad y confiabilidad de los escrutinios y resultados electorales, contribuir al
                fortalecimiento de la democracia mediante su neutralidad y objetividad, promover la participación social
                en la cual se requiera la expresión de la voluntad popular mediante sistemas de tipo electoral en
                cualquiera de sus modalidades, así como promover y garantizar, en cada evento legal en que deba
                registrarse la situación civil de las personas, que se registren tales eventos, se disponga de su
                información a quien deba legalmente solicitarla, se certifique mediante los instrumentos idóneos
                establecidos por las disposiciones legales y se garantice su confiabilidad y seguridad plenas. (Decreto
                1010 de 2000, énfasis añadido)
            </blockquote>
            <p>Las palabras enfatizadas fueron derogadas tácitamente por el artículo 12 del Acto Legislativo 1 de 2009,
                que le entregó la competencia constitucional para conocer y decidir sobre los escrutinios al Consejo
                Nacional Electoral (CNE).</p>
            <p>Todo lo anterior debe, además, interpretarse en concordancia con los artículos 120, 264, 265 y 266 de la
                Constitución de 1991. Estas normas definen la conformación y las funciones de la Organización Electoral,
                que, en el ordenamiento jurídico colombiano, está integrada por la RNEC y el CNE.</p>
            <p>Adicionalmente, sobre la misión legal de la RNEC cabe precisar dos aspectos. El primero es que, aunque el
                rol que la ley le otorga a la entidad frente al proceso electoral es garantizar su transparencia y, para
                conseguirlo, le impone ser neutral frente a los actores que participan en el sistema democrático, no
                ocurre lo mismo en relación con el propio modelo democrático.</p>
            <p>Por el contrario, la ley ordena que la RNEC debe “contribuir al fortalecimiento de la democracia” y
                “promover la participación social en la cual se requiera la expresión de la voluntad popular”, con lo
                cual le asigna una posición a favor del modelo democrático y el estímulo de la participación electoral.
                Por esa razón, en el próximo cuatrienio, la entidad asumirá la lucha contra el abstencionismo como una
                de sus prioridades estratégicas.</p>
            <p>El segundo aspecto es que la misión original de la entidad ha sufrido transformaciones en cuanto a la
                amplitud de sus responsabilidades, en virtud del avance tecnológico. Un ejemplo es lo relativo a la
                disposición, seguridad y confiabilidad de la información que la RNEC debe garantizar. El hiperdesarrollo
                reciente de la sociedad de datos ha hecho que la entidad esté a la vanguardia en materia de manejo y
                disponibilidad de la información.</p>
            <p>En ese orden de ideas, la Ley 1743 de 2015 y el Decreto 2106 de 2019 le ordenaron a la RNEC garantizar la
                disponibilidad e interoperabilidad de la información relativa a la identidad y fallecimiento de los
                colombianos, para que pueda ser consultada por diversos actores. Entre estos se encuentran las
                administradoras del sistema de seguridad social integral en pensiones, salud y riesgos laborales, otras
                entidades públicas, los particulares que desarrollan actividades financieras, bursátiles y aseguradoras,
                así como todos los demás operadores biométricos autorizados por la ley para acceder a las réplicas de
                las bases de datos de identificación de la RNEC y para consultar en línea las minucias dactilares.</p>

        </div>
    </div>
</div>