@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&family=Ubuntu:wght@300;700&display=swap');

.logo{
    max-height: 100px;
}
body{
    background-color:#f1f1f1 !important;
    font-family: 'Raleway', sans-serif;
  }

a{
  text-decoration: none;
}

.form-holder{
    margin-top:20%;
    margin-bottom:20%;
  }

  h2{
    text-align: center;
    color: rgb(64, 120, 82);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
  }
.logo{
    max-width: 300px;
    margin: auto;
}
.menuInicio .card-header{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: 700;
}
.menuInicio .card-body {
    text-align: center;
    font-size: 14px;
}
.inicioCont{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    text-align: center;
}
.inicioCont small{
    font-size: 12px;
    background-color: aliceblue;
    padding: 20px;
}

footer{
    text-align: center;
}

.list-select{
  
}

.list-select .list-group-item{
  padding-left:40px;
  position:relative;
  overflow:hidden;
  text-shadow:0 1px 0 rgba(255,255,255,0.8);
}
.list-select .list-group-item span{ position:relative; z-index:10; }
.list-select .list-group-item .list-select-icon{
  position:absolute;
  top:0px;
  left:5px;
  font-size:2em;    
  /*
  transition:all 0.5s;
  */
  color: rgba(175,175,175, 0.8);
  text-shadow: 1px 4px 6px #fff, 0 0 0 #000, 1px 4px 6px #fff; 
}
.list-select .list-group-item:hover .list-select-icon,
.list-select .list-group-item.selected .list-select-icon{ 
  
  color: #d6e9c6;
  font-size:72px;
  overflow:hidden;
  top:-30px;
  left:-15px;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(99,99,99,0.4);  }

.list-select .list-group-item.selected .list-select-icon{
  color:#d6e9c6;  
}
.list-select .list-group-item.selected{
  background-color:#f5f5f5;
}
